<footer class="page-footer" role="group" aria-label="{{ctx.Locale.Tr "aria.footer"}}">
	<div class="left-links" role="contentinfo">
		<span>&copy; Neural Inverse Inc. 2026</span>
	</div>
	<div class="right-links" role="group">
		<a href="https://neuralinverse.com/terms" target="_blank" rel="noopener">Terms</a>
		<a href="https://neuralinverse.com/privacy" target="_blank" rel="noopener">Privacy</a>
		{{template "custom/extra_links_footer" .}}
	</div>
</footer>
